<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form class="" action="index.html" method="post">
      <input label="Enter your phrase:" name="user_phrase" type="text" value="Input phrase" />
      <input name="Submit" value="Submit" />
    </form>
  </body>
</html>
